<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />  
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>  
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <form action="/number" method="post">

                <div class="input-group">
                    <input class="form-control" type="text" name="num"/>
                    <span class="input-group-btn">
                      <!-- <button class="btn btn-secondary" type="button">Go!</button> -->
                      <button class="btn btn-info" type="submit">Submit</button>
                    </span>
                  </div>
            </form>
        </div>
            
    </body>
</html>