<!DOCTYPE html>
<html>
<head>
    <title>익스프레스</title>
    <link rel="stylesheet" href="/stylesheets/style.css"></link>
</head>
</html>

doctype html
html
 head
  title 익스프레스
  link(rel='stylesheet', href='/stylesheets/style.css')